<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}[%thread]%-5level %logger{36} - %.-3000msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.http" level="debug"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>